/*///////////////////////////////////////////////////////////////////////////////////////\

FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
File Desc:         Everforest Color Scheme

All of these Variables - Control the color everywhere
Detailed customization - Overwriting existing variables
Applying variables further to create the Theme
Custom Icons

\////////////////////////////////////////////////////////////////////////////////////////*/

/* All of these Variables - Control the color everywhere. For light mode and dark mode. Allowing most/all customization to be done in one place */

:root {
  --bg-d: #1E2326;
  --bg-0: #272E33;
  --bg-1: #2E383C;
  --bg-2: #374145;
  --bg-3: #414B50;
  --bg-4: #495156;
  --bg-5: #4F5B58;

  --bg-g: #3C4841;
  --bg-v: #493B40;

  --fg: #D3C6AA;
  --gray-2: #9DA9A0;

  --red: #E67E80;
  --orange: #E69875;
  --yellow: #DBBC7F;
  --green: #A7C080;
  --blue: #7FBBB3;
  --purple: #D699B6;
}

@media (prefers-color-scheme: dark) { :root {
    

    --uc-browser-color:      var(--bg-0);
    --uc-text:               var(--fg);
    --uc-layered-background: var(--bg-3);
    --uc-navbar-background:  var(--uc-browser-color);
    --uc-urlbar-background:  var(--uc-layered-background);
    --uc-findbar-background: var(--bg-2);
    --uc-sidebar-background: var(--uc-browser-color);
    --uc-tabsbar-background: var(--uc-browser-color);
    --uc-tab-background:     var(--uc-browser-color);
    --uc-tab-selected:       var(--bg-g);
    --uc-tab-selected-text:  var(--uc-accent-color-5);
    --uc-button-selected:    var(--bg-v);
    --uc-button-red:         var(--red);
    --uc-context-menu:       var(--uc-layered-background);
    --uc-panel-background:   var(--bg-1);
    --uc-panel-border:       var(--green);
    --uc-panel-border-2:     var(--bg-5);
    --uc-accent-color-1:     var(--purple);
    --uc-accent-color-2:     var(--gray-2);
    --uc-accent-color-3:     var(--blue);
    --uc-accent-color-4:     var(--yellow);
    --uc-accent-color-5:     var(--green);
    --uc-accent-color-6:     var(--aqua);
    --uc-accent-color-7:     var(--orange);
    --uc-transparent:        rgba(0,0,0,0);
    --uc-box-shadow:         0.15rem 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.4);
    --uc-box-shadow-panel:   0.15rem 0.3rem 0.3rem -0.1rem rgba(25,25,25,1);
    --uc-button-border-radius: 10px;
}}

@media (prefers-color-scheme: light) { :root {
    --uc-browser-color:      rgb(209, 202, 219);
    --uc-text:               rgb(35, 35, 35);
    --uc-layered-background: rgb(203, 195, 214);
    --uc-navbar-background:  var(--toolbar-bgcolor);
    --uc-urlbar-background:  var(--uc-layered-background);
    --uc-findbar-background: var(--uc-layered-background);
    --uc-sidebar-background: var(--uc-layered-background);
    --uc-tabsbar-background: var(--uc-browser-color);
    --uc-tab-background:     transparent;
    --uc-tab-selected:       rgb(172, 162, 186);
    --uc-tab-selected-text:  var(--uc-accent-color-5);
    --uc-button-selected:    rgb(161, 150, 179);
    --uc-button-red:         #f54e4e;
    --uc-context-menu:       var(--uc-layered-background);
    --uc-panel-background:   var(--uc-layered-background);
    --uc-panel-border:       rgba(125, 125, 125, 0.9);
    --uc-panel-border-2:     rgba(125, 125, 125, 0.7);
    --uc-accent-color-1:     rgb(111, 90, 138);
    --uc-accent-color-2:     rgb(108, 122, 158);
    --uc-accent-color-3:     black;
    --uc-accent-color-4:     rgb(30, 30, 40);
    --uc-accent-color-5:     rgb(51, 99, 83);
    --uc-accent-color-6:     rgb(156, 73, 76);
    --uc-transparent:        rgba(0,0,0,0);
    --uc-box-shadow: 0.15rem 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.3);
    --uc-box-shadow-panel: 0.15rem 0.3rem 0.3rem -0.1rem rgba(25,25,25,1);
    --uc-button-border-radius: 10px;
}}


/* Detailed customization - Overwriting existing variables. Everything below applies the custom variables to elements of the Browser, with some adjustments. */

#main-window:not([lwtheme]) {
    --toolbar-bgcolor: var(--uc-browser-color) !important;
    --inactive-titlebar-opacity: 1 !important;
    --lwt-accent-color-inactive: var(--lwt-accent-color) !important;
    --uc-tabs-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
    --uc-sb-lwt: color-mix(in srgb, var(--lwt-accent-color) 75%, #000);
    --toolbox-non-lwt-bgcolor-inactive: ActiveCaption !important;
    --toolbox-non-lwt-textcolor-inactive: CaptionText !important;
    --tab-selected-bgcolor: var(--uc-tab-selected) !important;
    --tab-selected-textcolor: var(--uc-text) !important;
    --tab-hover-background-color: var(--uc-tab-selected) !important;
    --tab-loading-fill: var(--uc-accent-color-1) !important;
    --button-background-color-ghost-hover: var(--uc-button-selected) !important;
    --button-background-color: var(--uc-button-selected) !important;
    --button-background-color-hover: var(--uc-button-selected) !important;
    --button-background-color-active: var(--uc-button-selected) !important;
    --button-hover-bgcolor: var(--uc-button-selected) !important;
    --toolbarbutton-hover-background: var(--uc-button-selected) !important;
    --button-active-bgcolor: var(--uc-button-selected) !important;
    --toolbarbutton-active-background: var(--uc-button-selected) !important;
    --button-primary-bgcolor: var(--uc-accent-color-1) !important;
    --button-primary-hover-bgcolor: var(--uc-accent-color-1) !important;
    --buttons-destructive-hover-bgcolor: var(--bg-r);  /*red*/
    --buttons-destructive-active-bgcolor: var(--uc-button-red); /*red*/
    --toolbarbutton-icon-fill: var(--uc-accent-color-2) !important; /*toolbar button color*/
    --toolbar-field-background-color: var(--uc-accent-color-4) !important;
    --toolbar-field-border-color: var(--uc-accent-color-3) !important;
    --toolbar-field-focus-border-color: var(--uc-accent-color-1) !important;
    --urlbarView-result-button-selected-color: var(--orange) !important;
    --urlbarView-result-button-selected-background-color: var(--uc-button-selected) !important;
    --urlbarView-highlight-background: var(--uc-button-selected) !important;
    --urlbarView-hover-background: var(--uc-button-selected) !important;
    --urlbar-box-hover-bgcolor: var(--uc-button-selected) !important;
    --urlbar-box-hover-text-color: var(--orange) !important;
    --urlbar-icon-border-radius: var(--uc-button-border-radius);
    --arrowpanel-menuitem-border-radius: var(--uc-button-border-radius);
    --arrowpanel-border-radius: var(--uc-all-border-radius);
    --toolbarbutton-border-radius: var(--uc-button-border-radius);
    --arrowpanel-menuitem-border-radius: var(--uc-button-border-radius) !important;
    --menuitem-border-radius: var(--uc-button-border-radius) !important;
    --button-border-radius: var(--uc-button-border-radius) !important;
    --toolbarbutton-border-radius: var(--uc-button-border-radius) !important;
    --toolbar-field-color: var(--uc-text) !important;
    --toolbar-field-focus-color: var(--uc-text) !important;
    --toolbar-color: var(--uc-text) !important;
    --toolbar-field-color: var(--uc-text) !important;
    --toolbar-field-focus-color: var(--uc-text) !important;
    --sidebar-text-color: var(--uc-text) !important;
    --arrowpanel-background: var(--uc-panel-background) !important;
    --arrowpanel-border-color: var(---uc-panel-border-ii) !important;
    --arrowpanel-color: var(--uc-text) !important;
    --newtab-background-color: var(--uc-tabsbar-background) !important;
    --panel-background: var(--uc-panel-background) !important;
    --panel-item-hover-bgcolor: var(--uc-button-selected) !important;
    --panel-banner-item-hover-bgcolor: var(--uc-button-selected) !important;
    --short-notification-background: var(--uc-accent-color-2) !important;
    --panel-border-color: var(--uc-panel-border) !important;
    --organizer-toolbar-background: var(--uc-accent-color-4) !important;
    --organizer-pane-background: var(--uc-accent-color-4) !important;
    --organizer-content-background: var(--uc-accent-color-4) !important;
    --organizer-hover-background: var(--uc-accent-color-4) !important;
    --organizer-selected-background: var(--uc-button-selected) !important;
    --organizer-focus-selected-color: var(--uc-button-selected) !important;
    --organizer-outline-color: rgb(0,221,255) !important;
    --organizer-toolbar-field-background: var(--uc-accent-color-4) !important;
    --organizer-toolbar-field-background-focused: var(--uc-accent-color-1) !important;
    --content-select-background-image: none !important;
} 


/* Applying variables  further to create the Theme --------------------------------*/

/* If a section is empty, that means the style is defaulting to chrome/theme/ffu-internal-appearance.css */

/* Main window adjustments ----------------------------------------*/
    
/* URL Bar --------------------------------------------------------*/


/* Find bar -------------------------------------------------------*/


/* Sidebars -------------------------------------------------------*/


/* Tabs -----------------------------------------------------------*/


/* Button Adjustments ---------------------------------------------*/

 
/* Popups/Menus ---------------------------------------------------*/


/* Context Menu ---------------------------------------------------*/


/* Custom Icons ---------------------------------------------------*/



